{% extends "app/base.html" %}
{% block titulo %}
    CREAR TAREA
{% endblock %}

{% block contenido %}
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Arquitecto</th>
            <th>Fecha de creación</th>
            <th>Desarrollador</th>
            <th>Estado del proyecto</th>
            <th>Ver proyecto</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>ID</th>
            <th>Arquitecto</th>
            <th>Fecha de creación</th>
            <th>Desarrollador</th>
            <th>Estado del proyecto</th>
            <th>Ver proyecto</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>01</td>
            <td>Johan Perilla</td>
            <td>12/09/2019</td>
            <td>Johan Perilla</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>02</td>
            <td>Juan Perez</td>
            <td>11/09/2019</td>
            <td>Johan Perilla</td>
            <td></td>
            <td></td>
          </tr>            
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
