{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Project X - Iniciar Sesión</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">¡Bienvenido a Project X!</h1>
                  </div>
                  <!---->
                  <form action="{% url 'auth_login' %}" method="POST">
                      {% csrf_token %}
                    <form class="user">
                      <div class="form-group">
                        <input type="text" name = "usuario" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Ingresa tu usuario">
                      </div>
                      <div class="form-group">
                        <input type="password" name = "password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contraseña">
                      </div>
                      <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type = "submit" class="btn btn-primary btn-round">Iniciar Sesión</button>
                        </div>
                      </div>
                      <!---<a href="intro.html" class="btn btn-primary btn-user btn-block">->
                        Iniciar sesión
                      <!-</a>-->
                    </form>
                  </form>
                  <!---->
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'forgot_password' %}">¿Olvidaste tu contraseña? Recupera tu contraseña</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'crear_cuenta' %}">Crear cuenta</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
