{% extends "app/base.html" %}
{% block titulo %}
    PROYECTOS
{% endblock %}
{% block contenido %}
<div class="row">
  <div class="col-md-12">
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
              <a class="btn btn-primary btn-round" href="{% url 'form_proyectos' %}">Crear proyecto</a>
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class=" text-primary">
              <th>
                Nombre Proyecto
              </th>
              <th></th>
            </tr></thead>
            <tbody>                
              {% for p in proyectos %}
              <tr>
                  <td>{{ p.nombre_proyecto }}</td>
                  <td>
                      <a href="#" class="btn-primary btn-xs btn-round">ver</a>
                      <a href="#" class="btn-danger btn-xs btn-round">eliminar</a>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
